In [1]:
import os
import csv
import pandas as pd

In [2]:
BankFile=os.path.join('budget_data_1.csv')
reader= pd.read_csv(BankFile)
reader.head()

     Date  Revenue
0  Oct-12  1154293
1  Nov-12   885773
2  Dec-12  -448704
3  Jan-13   563679
4  Feb-13   555394

In [3]:
totalMonths=reader['Date'].count()
print('Total Months: '+str(totalMonths))

Total Months: 41

In [4]:
totalRevenue=reader['Revenue'].sum()
print('Total Revenue: '+str(totalRevenue))

Total Revenue: 18971412

In [6]:
with open (BankFile, newline='') as File:
    FileReader=csv.reader(File, delimiter=',')
    next(FileReader)
    countrow=0
    Prv_revenue=0
    change_lst=[]
    greatest_increase=0
    greatest_increase_date=""
    greatest_decrease=0
    greatest_decrease_date=''
    for row in FileReader:
        value=int(row[1])
        Date=row[0]
        change=value - Prv_revenue
        Prv_revenue=value
        change_lst = change
        countrow=countrow+1
        if (change_lst > greatest_increase):
            greatest_increase=change_lst
            greatest_increase_date=Date
        
        if (change_lst < greatest_decrease):
            greatest_decrease=change_lst
            greatest_decrease_date=Date    
        
    
    
    print('Total Months:',  countrow)
    print('Total Revenue: '+str(totalRevenue))
    totalavg=(change_lst)/countrow
    print('Average Revenue Change:'+str(totalavg))
    print('Greatest Increase in Revenue: ', greatest_increase_date,greatest_increase)
    print('Greatest Decrease in Revenue: ',greatest_decrease_date,greatest_decrease)

Total Months: 41
Total Revenue: 18971412
Average Revenue Change:44810.60975609756
Greatest Increase in Revenue:  Feb-16 1837235
Greatest Decrease in Revenue:  Aug-14 -1779747

In [9]:
output_path = os.path.join( "BankResults.csv")
with open(output_path, 'w', newline='') as csvfile:
    csvwriter = csv.writer(csvfile, delimiter=',')
    csvwriter.writerow(['Total Months:',  countrow])
    csvwriter.writerow(['Total Revenue:', totalRevenue])
    csvwriter.writerow(['Average Revenue Change:',totalavg])
    csvwriter.writerow(['Greatest Increase in Revenue: ', greatest_increase_date,greatest_increase])
    csvwriter.writerow(['Greatest Decrease in Revenue: ',greatest_decrease_date,greatest_decrease])