In [1]:
import os
import csv
import pandas as pd

In [20]:
PollFile=os.path.join('election_data_1.csv')
reader= pd.read_csv(PollFile)
reader.head()

   Voter ID      County Candidate
0   1405627      Harsaw    Vestal
1   1711723  Mershville    Vestal
2   1550639  Matterdawn    Vestal
3   1042621      Harsaw    Vestal
4   1583965  Matterdawn    Vestal

In [21]:
totalVotes=reader['Voter ID'].count()
print('Total Votes: '+str(totalVotes))

Total Votes: 803000

In [58]:
CandidateCount=reader['Candidate'].value_counts()
(CandidateCount)

Vestal    385440
Torres    353320
Seth       40150
Cordin     24090
Name: Candidate, dtype: int64

In [59]:
CandidateGroup=reader.groupby('Candidate').count()
CandidateGroup

           Voter ID  County
Candidate
Cordin        24090   24090
Seth          40150   40150
Torres       353320  353320
Vestal       385440  385440

In [60]:
CandidateGroup['Percentage']=CandidateGroup['Voter ID']/totalVotes*100
CandidateGroup

           Voter ID  County  Percentage
Candidate
Cordin        24090   24090         3.0
Seth          40150   40150         5.0
Torres       353320  353320        44.0
Vestal       385440  385440        48.0

In [61]:
SummaryTable=pd.DataFrame({'Total Votes':CandidateCount,
                          'Percentage':CandidateGroup['Percentage']})
SummaryTable

        Percentage  Total Votes
Cordin         3.0        24090
Seth           5.0        40150
Torres        44.0       353320
Vestal        48.0       385440

In [67]:
CandidateWinner=reader['Candidate'].max()
(CandidateWinner)

'Vestal'

In [68]:
output_path = os.path.join('PyPollSolution.csv')
SummaryTable.to_csv(output_path, index=False, header=True)